.budgetTable{
	margin-top: 1em;
}

.version {
	margin-top: 1em;
}

.iosPrompt{
	margin-top: 1em;
	margin-bottom: 1em;
}

#month{
	margin-top: 1em;
	text-align: center;
}

#calendarWrapper{
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

table#calendarTable{
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}

.body{
	background-color: mediumpurple;
}

table#calendarTable th, table#calendarTable td {
	border: 1px solid #333;
	padding: 5px;
	background-color: white;
	font-size: 12px;
}