.budgetTable{
	margin-top: 1em;
}

.version {
	margin-top: 1em;
}

.iosPrompt{
	margin-top: 1em;
	margin-bottom: 1em;
}

#month{
	margin-top: 1em;
	text-align: center;
}

#calendarWrapper{
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	table-layout: fixed;
}

table#calendarTable{
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}

table#budgetTable{
	width: 90%;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: left;
}

.body{
	background-color: mediumpurple;
}

table#calendarTable th, table#calendarTable td {
	border: 1px solid #333;
	padding: 5px;
	background-color: white;
	font-size: 12px;
	width: 14.28%;
}

.hidden {
    display: none;
}

#dialogOverlay.hidden {
	display: none !important;
}

/* 背景の黒い半透明 */
#dialogOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

/* ダイアログ本体 */
#inputDialog {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
}

.summaryTD{
	text-align: right;
	border: 1px solid #333;
}

.editableCell{
	background-color: white;
}

#budgetHeader th{
	text-align: right;
}